html,
body {
    padding: 0 auto;
    margin: 0 auto;
}

.container {
    width: 100%;
    height: 100vh;
    display: block;
    text-align: center;
    align-items: center;
    position: relative;
}

.image_holder {
    width: 25%;
    margin: 0 auto;
    text-align: center;
    float: left;
}

.image_circle {
    width: 43px;
    margin: 0 auto;
    border-radius: 100%;
    margin-top: 4.5px;
    border: 1.5px solid white;
}

.content_holder {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    float: left;
}

.subcontainer {
    width: 30%;
    min-width: 300px;
    background: linear-gradient(#63c9c2, #69b3af);
    opacity: 0.85;
    border-radius: 5px;
    text-align: center;
    position: absolute;
    z-index: 2;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    padding-top: 8px;
    padding-bottom: 10px;
    margin: 0 auto;
    height: 50px;
    margin-top: 56px;
    margin-bottom: 30px;
    left: 0px;
    right: 0px;
}

.user_name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

#user_phone {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(233, 233, 233);
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
}

.alert {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: rgb(55, 93, 90);
}

.refresh_holder {
    width: 24%;
    margin: 0 auto;
    text-align: center;
    float: left;
}

.refresh_img {
    width: 37px;
    margin: 0 auto;
    border-radius: 100%;
    opacity: 0.9;
    bottom: 0px;
    margin-top: 7px;
    top: 0px;
    cursor: pointer;
}

.refresh_img :hover {
    width: 40px;
    margin: 0 auto;
    border-radius: 100%;
    opacity: 1;
    cursor: pointer;
}

.map {
    width: 100%;
    height: 100%;
    display: block;
}